.input-group{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}
.input-group > button{
    margin: 10px;
    min-width: 100px;
}
.input-group > input{
    margin: 10px;
}
p{
    color: red;
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 772px) {
    .input-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .input-group  input{
        margin: 10px 0px;
        min-width: 80%;
    }
  }